{% extends "layout/public.html" %}
{% block title %} Colleges {% endblock %}
{% block page_name %}<li class="link-01">Colleges</li>{% endblock %}
{% block content %}
    <section id="cards-section">
          <div class="container">
            <div class="cards-group">
                {% for college in colleges %}
                <div class="card_college">
                <div class="card_college-img"><img src="{{ college.image.url }}" alt="College Logo"/></div>
                <div class="card_college-details"><a class="sub-header-02" href="/college/">IIT Bomabay</a>
                  <div class="card_college-details_secondary"><span class="label-01">Bombay</span><span class="label-01">AICTE</span><span class="label-01">University</span></div><a class="link-primary_lined" href="#downloadIITBombay" download="download">Brochure</a>
                </div>
              </div>
                {% endfor %}
            </div>
            {% if colleges.has_next %}
                <a href="?page={{ colleges.next_page_number }}"><button class="button-outline load-more">Load More</button></a>
            {% endif %}
          </div>
    </section>
    <script>
        var infinite = new Waypoint.Infinite({
          element: $('.cards-group')[0]
        });
    </script>
{% endblock %}