{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Home {% endblock %}| Examkhojo</title>
    <meta name="description" content="Top colleges in India rated by Examkhojo.com">
    <meta name="keywords" content="Colleges, College List, List of Top Colleges in India, Examkhojo Top College List, Examkhojo List of Top Colleges in India, Search Colleges, Colleges in India, Top Colleges in India">
    <meta property="og:title" content="Examkhojo, A Search Platform">
    <meta property="og:description" content="Find the best colleges, exams and courses in India">
    <meta property="og:image" content="https://raw.githubusercontent.com/GaziTaufiqIslam/examkhojo-ui/master/src/assets/images/og_img.jpg">
    <meta property="og:url" content="examkhojo.com">
    <meta property="twitter:card" content="summary_large_image">
    <meta name="theme-color" content="#1a3348">
    <link rel="stylesheet" href="{% static "assets/css/app.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/pages/listpages.css" %}">
    <link rel="icon" href="{% static "assets/images/favicon.ico" %}" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js" integrity="sha256-w49DIDk8itgSjjuoof5lTxYKwcjWJ7Z2sRW3nU1StNA=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/infinite.js" integrity="sha256-xiMaMrqXioFxnswX7XOy6qeZh1WmqihOHAVBnsQyVQY=" crossorigin="anonymous"></script>
</head>