<!DOCTYPE html>
<html lang="en">
  {% include "components/header.html" %}
</html>
<body>
  {% include "components/register.html" %}
  {% include "components/search.html" %}
  <div class="wrapper">
    {% include "components/nav.html" %}
    {% include "components/hero.html" %}
    <section id="cards-section">
      <div class="container">
        <div class="cards-group">
          <div class="card_college">
            <div class="card_college-img"><img src="assets/images/sample.jpg" alt="College Logo"/></div>
            <div class="card_college-details"><a class="sub-header-02" href="individual-college.html">IIT Bomabay</a>
              <div class="card_college-details_secondary"><span class="label-01">Bombay</span><span class="label-01">AICTE</span><span class="label-01">University</span></div><a class="link-primary_lined" href="#downloadIITBombay" download="download">Brochure</a>
            </div>
          </div>
          <div class="card_college">
            <div class="card_college-img"><img src="assets/images/sample.jpg" alt="College Logo"/></div>
            <div class="card_college-details"><a class="sub-header-02" href="individual-college.html">IIT Bomabay</a>
              <div class="card_college-details_secondary"><span class="label-01">Bombay</span><span class="label-01">AICTE</span><span class="label-01">University</span></div><a class="link-primary_lined" href="#downloadIITBombay" download="download">Brochure</a>
            </div>
          </div>
          <div class="card_college">
            <div class="card_college-img"><img src="assets/images/sample.jpg" alt="College Logo"/></div>
            <div class="card_college-details"><a class="sub-header-02" href="individual-college.html">IIT Bomabay</a>
              <div class="card_college-details_secondary"><span class="label-01">Bombay</span><span class="label-01">AICTE</span><span class="label-01">University</span></div><a class="link-primary_lined" href="#downloadIITBombay" download="download">Brochure</a>
            </div>
          </div>
          <div class="card_college">
            <div class="card_college-img"><img src="assets/images/sample.jpg" alt="College Logo"/></div>
            <div class="card_college-details"><a class="sub-header-02" href="individual-college.html">IIT Bomabay</a>
              <div class="card_college-details_secondary"><span class="label-01">Bombay</span><span class="label-01">AICTE</span><span class="label-01">University</span></div><a class="link-primary_lined" href="#downloadIITBombay" download="download">Brochure</a>
            </div>
          </div>
          <div class="card_college">
            <div class="card_college-img"><img src="assets/images/sample.jpg" alt="College Logo"/></div>
            <div class="card_college-details"><a class="sub-header-02" href="individual-college.html">IIT Bomabay</a>
              <div class="card_college-details_secondary"><span class="label-01">Bombay</span><span class="label-01">AICTE</span><span class="label-01">University</span></div><a class="link-primary_lined" href="#downloadIITBombay" download="download">Brochure</a>
            </div>
          </div>
          <div class="card_college">
            <div class="card_college-img"><img src="assets/images/sample.jpg" alt="College Logo"/></div>
            <div class="card_college-details"><a class="sub-header-02" href="individual-college.html">IIT Bomabay</a>
              <div class="card_college-details_secondary"><span class="label-01">Bombay</span><span class="label-01">AICTE</span><span class="label-01">University</span></div><a class="link-primary_lined" href="#downloadIITBombay" download="download">Brochure</a>
            </div>
          </div>
          <div class="card_college">
            <div class="card_college-img"><img src="assets/images/sample.jpg" alt="College Logo"/></div>
            <div class="card_college-details"><a class="sub-header-02" href="individual-college.html">IIT Bomabay</a>
              <div class="card_college-details_secondary"><span class="label-01">Bombay</span><span class="label-01">AICTE</span><span class="label-01">University</span></div><a class="link-primary_lined" href="#downloadIITBombay" download="download">Brochure</a>
            </div>
          </div>
          <div class="card_college">
            <div class="card_college-img"><img src="assets/images/sample.jpg" alt="College Logo"/></div>
            <div class="card_college-details"><a class="sub-header-02" href="individual-college.html">IIT Bomabay</a>
              <div class="card_college-details_secondary"><span class="label-01">Bombay</span><span class="label-01">AICTE</span><span class="label-01">University</span></div><a class="link-primary_lined" href="#downloadIITBombay" download="download">Brochure</a>
            </div>
          </div>
          <div class="card_college">
            <div class="card_college-img"><img src="assets/images/sample.jpg" alt="College Logo"/></div>
            <div class="card_college-details"><a class="sub-header-02" href="individual-college.html">IIT Bomabay</a>
              <div class="card_college-details_secondary"><span class="label-01">Bombay</span><span class="label-01">AICTE</span><span class="label-01">University</span></div><a class="link-primary_lined" href="#downloadIITBombay" download="download">Brochure</a>
            </div>
          </div>
        </div>
        <button class="button-outline load-more">Load More</button>
      </div>
    </section>
  </div>
  {% include "components/subscribe.html" %}
  {% include "components/footer.html" %}
</body>